/* CSS Reset */

body {
  margin: 0;
  padding: 0;
}
/* End of Reset */

  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
  font-family: 'Source Code Pro', monospace;
  background-color: black;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: auto;
}

.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem;
}
